<!DOCTYPE HTML>
<html lang=en>
<html lang=en>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark light"/>
  {{ if .IsHome }}
  <title>TJ Crew Captains</title>
  {{ else }}
  <title>{{ $.Title }} | TJ Crew Captains</title>
  {{ end }}
  <meta name=description content="{{$.Description}}">
  <link rel="stylesheet" href="/style.css">
  <script async defer data-website-id="c64eab22-0803-46f5-baf7-be1227d23386" src="https://umami.buchh.cloud/script.js" data-domains="rowtj.github.io"></script>
</head>
