<!DOCTYPE HTML>
<html lang=en>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark light"/>
  {{ if .IsHome }}
  <title>TJ Crew Captains</title>
  {{ else }}
  <title>{{ $.Title }} | TJ Crew Captains</title>
  {{ end }}
  <meta name=description content="{{$.Description}}">
  <link rel="stylesheet" href="/style.css">
  <script defer data-domain="rowtj.github.io" src="https://plausible.buchh.cloud/js/plausible.js"></script>
</head>
